.img-empl {
    height: 250px;
    width: 250px;
}

.img-slider {
    height: 250px;
    width: 450px;
}

.img-avatar {
    height: 250px;
    width: 250px;
}

.img-responsive {
    margin-right: auto;
    margin-left: auto;
}

.modal-content {
    border-radius: 8px;
}
.modal-header {
    background-color: #26A69A;
    color: #fff;
    padding-bottom: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.modal-header .close {
    color: #fff;
    margin-top: -7px;
}
.tab {
    border-collapse: inherit;
    border-spacing: 15px 15px;
}