.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
}
    
.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption h3 {
    color: white !important;
}

@media (max-width: 992px) {
    .carousel-caption {
        font-size: 4rem;
    }
}

.text-danger {
    text-align: left;
}

.row-header {
    text-align: center;
    margin-bottom: 32px;
}

.avatar-profile {
    width: 270px;
    height: 270px;
}

.col-body-profile {
    margin-bottom: 12px;
}

.col-body-profile span {
    font-weight: bold;
}

.section-leave-quota, .section-leave-form {
    background-color: #1E74FD;
    padding: 12px;
    border-radius: 5px;
}

.section-leave-quota-title, .section-leave-quota-body {
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    padding: 12px 0;
}

.section-leave-quota-body span {
    font-weight: bold;
}

.section-leave-form-type-label {
    color: white;
    margin-bottom: 8px;
}

.leave-form-type, .leave-form-category {
    margin-bottom: 12px;
}

.calendar-wrapper {
    font-size: 12px;
}

.btn-right {
    float: right;
}

.section-leave-form-type:after {
    content:'';
    display:block;
    clear:both;
}